.logo{
  position: relative;
  bottom: 15px;
   width: 200px;
   top: 2px;
   left: 5px;
}
*{
    box-sizing: border-box; 
   }
   body {
     margin: 0;
     background-color: gray;
   }
   #main {
     display: flex;
     min-height: calc(100vh - 40vh);
   }
   #main > article {
     flex: 1;
   }

   footer, article {
     padding: 1em;
   }
   nav{
     height: 100px;
   }
   
   footer {
     background: gray;
     height: 10vh;
     border-top-style: solid;
     border-color: black;
   }


  .flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid darkgrey;
    height: 500px;
    max-width: 33%;
}  

.flex-child {
    margin-right: 10px;
} 

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.sida2info{
  right: 500px;
}

h1{
  text-align: center;
}

.headery{
  background-color: #333;
}
